.husky/
.github/
.idea/
coverage/
.editorconfig
.eslintignore
.eslintrc
.lintstagedrc.json
.releaserc.json
babel.config.cjs
commitlint.config.cjs
jest.config.cjs
lerna.json
tsconfig.json
tsconfig.build.json
tsconfig.build.tsbuildinfo
**/*.spec.ts
*.log
*.md
